# # Fichiers de configuration et environnement
*.env
*.ini
*.cfg
*.toml
*.yaml
*.yml
*.clinerules

# Environnements virtuels
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Dossiers de sortie et modèles
*/outputs*/**
*/models*/**
!/utilitaries/models/**  # Pour garder les modèles dans utilitaries

# Dossiers spécifiques à ignorer
*/.ipynb_checkpoints/
**/__marimo__/
Test */
*/brouillon*
*/Comparaison*/**
*/old*/
maybe\ useful/
brouillon*

# Fichiers de données
*.parquet
*.npy
*.db
*.sqlite
*.db3
*.pdf
*.png
*.jpg
*.jpeg
*.ipynb

# Autres
*.code-workspace
*.pt
.DS_Store
